@media (min-width: 820px) {
  .week-weather {
      &__chart {
          width: 400px;
          height: 200px;
      }
  }
}

@media (max-width: 819px) {
  .week-weather {
      &__chart {
          width: 100%;
      }
  }
}
